@font-face {
    font-family: "GothamRoundedBook";
    src: url("../fonts/GothamRounded-Book.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "GothamRoundedMedium";
    src: url("../fonts/GothamRounded-Medium.otf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "GothamRoundedMediumItalic";
    src: url("../fonts/GothamRounded-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
}
body, html {
    font-family: 'GothamRoundedMedium', 'Arial', sans-serif;
    font-size: 14px;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    
}
.container {
    margin: 0 auto;
    width: 1140px;
}
.header {
   background: #fff url(../img/header-bg.jpg) no-repeat top center/cover;
   color: #8c9398;
    text-align: center;
    padding-bottom: 345px;
}
.nav-icons {
    width: 27px;
    height: 18px;
    color: #372c3c;
    padding-top: 63px;
    margin-left: 1112px;
}
.title {
    font-family: 'GothamRoundedBook', 'Arial', sans-serif;
    color: #353535;
    font-size: 40px;
/*    line-height: 200px;*/
    text-transform: uppercase;
    letter-spacing: 12px;
    margin: 0;
    margin-top: 169px;
}
.title_decor {
    font-family: 'GothamRoundedBook', 'Arial', sans-serif;
    color: #a1a9b0;
    font-size: 40px;
/*    line-height: 200px;*/
    text-transform: uppercase;
    letter-spacing: 12px;
}
.title__description {
    font-family: 'GothamRoundedBook', 'Arial', sans-serif;
    color: #8c9398;
    font-size: 15px;
/*    line-height: 200px;*/
    letter-spacing: 2.25px;
    margin: 0;
    margin-top: 31px;
}
.title__description_decor {
    font-family: 'GothamRoundedMediumItalic', 'Arial', sans-serif;
    font-size: 15px;
    color: #8c9398;
/*    line-height: 200px;*/
    letter-spacing: 2.25px; 
}
.title__link {
    display: inline-block;
    width: 200px;
    height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
    background-color: #3dc9b3;
    text-align: center;
    padding-top: 25px;
    margin-top: 65px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 3px #309383;
    border-radius: 5px;
    box-sizing: border-box;
}
.title__link:hover {
    background-color: #309383;
    transform: translateY(1px);
}
.previous {
    background-color: #f3f5f8;
    color: #353535;
    padding-top: 107px;
    padding-bottom: 127px;
    text-align: center;
}
.section__title {
    margin: 0;
    color: #353535;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
}
.section__line {
    margin: 0 auto;
    margin-top: 26px;
    position: relative;
    width: 15px;
    height: 13px;
    background: url(../img/icon-section.png) no-repeat center center;
}
.section__line::before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: 37px;
    width: 234px;
    height: 2px;
    border-bottom: 2px dotted #d2d7dd;
}
.section__line::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 36px;
    width: 234px;
    height: 2px;
    border-bottom: 2px dotted #d2d7dd;
}
.previous__description {
    color: #8c9398;
    margin: 0 auto;
    margin-top: 67px;
    width: 742px;
    line-height: 30px;
    letter-spacing: 0.14px;
}
.description__general-words {
    color: #353535;
    letter-spacing: 0.14px;
}
.product {
    padding-top: 102px;
    text-align: center;
    padding-bottom: 122px;
}
.product__block {
    display: flex;
    list-style: none;
    margin: 0;
    margin-top: 88px;
    padding: 0;
}
.product__item__title {
    margin: 0;
    margin-top: 48px;
    margin-bottom: 26px;
    color: #353535;
    font-size: 15px;
    text-transform: uppercase;
}
.item__line {
    margin: 0 auto;
    width: 33px;
    border-bottom: 3px solid #3dc9b3;
}
.product__item__description {
    margin: 0;
    margin-top: 29px;
    color: #8c9398;
    line-height: 20px;
}
.page-section {
    background: url(../img/flowers-bg.png) no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding-top: 81px;
    padding-bottom: 55px;
}
.page-section__title {
    margin: 0;
    color: #ffffff;
    font-family: 'GothamRoundedBook', 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.page-section__subtitle {
    margin: 0;
    margin-top: 28px;
    margin-bottom: 43px;
    color: #ffffff;
    font-family: 'GothamRoundedBook', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
.subtitle__italic-word {
    font-family: 'GothamRoundedMediumItalic', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
.btn-arrow {
    width: 44px;
    height: 44px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #3dc9b3;
    border-radius: 50%;
    color: #fff;
    transform: rotate(90deg);
    text-decoration: none;
    font-size: 30px;
    padding-top: 4px;
}
.advantage {
    padding-top: 104px;
    padding-bottom: 109px;
}
.advantage__block {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.advantage__item {
    width: 360px;
    margin-right: 30px;
    text-align: center;
}
.advantage__item:nth-child(3n) {
    margin-right: 0;
}
 .advantage__item__pic-bg {
    width: 360px;
    height: 200px;
}
.advantage__item__pic-bg:hover::before {
    content: 'VIEW MORE';
    color: #fff;
    display: block;
    width: 360px;
    height: 100px;
    position: absolute;
    background-color: #33cccc;
    opacity: 0.7;
    padding-top: 100px;
}
.advantage__item__pic {
    width: 360px;
    height: 200px;
}
.advantage__item__title {
    color: #353535;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 18px;
}
.advantage__item__description {
    color: #8c9398;
    line-height: 20px;
    margin: 0;
    margin-top: 32px;
}
.advantage__slider__controls {
    margin-top: 74px;
    margin-left: 542px;
    display: flex;
}
.advantage__slider__controls label {
    width: 10px;
    height: 10px;
    border: 2px solid #c9cbca;
    border-radius: 50%;
}
.advantage__slider__controls label:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}
input[name="advantage__slider"] {
    display: none;
}
.advantage__slide2 {
    display: none;
}
.advantage__slide3 {
    display: none;
}
#advantage__btn1:checked ~ .advantage__slider__controls label:first-child {
    background-color: #212024;
}
#advantage__btn2:checked ~ .advantage__slider__controls label:nth-child(2) {
    background-color: #212024;
}
#advantage__btn3:checked ~ .advantage__slider__controls label:last-child {
    background-color: #212024;
}
.offer {
    background-color: #242830;
    padding-top: 65px;
    padding-bottom: 61px;
    text-align: center;
}
.offer__btn {
    display: inline-block;
    width: 294px;
    height: 74px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
}
.offer__btn:hover {
    background-color: #ffffff;
    color: #242830;
}
.team {
    padding-top: 88px;
    padding-bottom: 107px;
    text-align: center;
}
.team__slider__block {
    margin-top: 61px;
}
.team__block {
    list-style: none;
    display: flex;
}
.team__item {
    width: 361px;
    text-align: center;
    margin-right: 29px;
}
.team__item:last-child {
    margin-right: 0;
}
.team__item__name {
    color: #353535;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
    margin: 0;
    margin-top: 56px;
    margin-bottom: 18px;
}
.team__item__description {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 36px;
    color: #8c9398;
    line-height: 20px;
}
.team__slider__controls {
    margin-top: 74px;
    margin-left: 562px;
    display: flex;
}
.team__slider__controls label {
    width: 10px;
    height: 10px;
    border: 2px solid #c9cbca;
    border-radius: 50%;
}
.team__slider__controls label:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}
input[name="team__slider"] {
    display: none;
}
.team__slide2 {
    display: none;
}
.team__slide3 {
    display: none;
}
#team__btn1:checked ~ .team__slider__controls label:first-child {
    background-color: #212024;
}
#team__btn2:checked ~ .team__slider__controls label:nth-child(2) {
    background-color: #212024;
}
#team__btn3:checked ~ .team__slider__controls label:last-child {
    background-color: #212024;
}
.social {
    margin: 0 auto;
    width: 153px;
    height: 41px;
}
.social__icon {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 41px;
    margin-right: 12px;
    background-color: #242830;
    border-radius: 50%;
}
.social__icon:last-child {
    margin-right: 0;
}
.social__icon:hover {
    background-color: #3dc9b3;
}
.subscribe {
    background: url(../img/subscribe-bg.jpg);
    color: #fff;
    text-align: center;
    padding-top: 172px;
    padding-bottom: 150px;
}
.subscribe__title {
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
}
.subscribe__field {
    margin: 0;
    margin-top: 47px;
    width: 351px;
    height: 61px;
    background: transparent;
    color: #fff;
    border: 1px solid #ffffff;
}
.subscribe__btn {
    margin-left: 7px;
    width: 97px;
    height: 65px;
    background-color: #3dc9b3;
    color: #fff;
    border: 1px solid #3dc9b3;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2.25px;
    text-transform: uppercase;
}
.subscribe__btn:hover {
    background-color: #fff;
    color: #3dc9b3;
    border: 1px solid #fff;
}
.contacts {
    background: #f3f5f8;
    color: #000;
    padding-top: 126px;
    padding-bottom: 113px;
    text-align: center;
}
.contacts__block {
    margin: 0;
    margin-top: 98px;
    margin-bottom: 99px;
    padding: 0;
    list-style: none;
    display: flex;
}
.contacts__item {
    width: 360px;
    height: 150px;
    margin-right: 30px;
    text-align: center;
    background: #ffffff;
    color: #8c9398;
}
.contacts__item:last-child {
    margin-right: 0;
}
.contacts__item__title {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #3dc9b3;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}
.contacts__item__link {
    color: #8c9398;
    text-decoration: none;
}
.footer {
    height: 67px;
    padding-top: 55px;
    background-color: #242830;
    color: #a1a9b0; 
}
.footer__link__terms {
    color: #a1a9b0;
    font-family: 'GothamRoundedBook', 'Arial', sans-serif;
    text-decoration: none;
}
.footer__link__legals {
    color: #a1a9b0;
    font-family: 'GothamRoundedBook', 'Arial', sans-serif;
    text-decoration: none;
}
.footer__text__simbol {
    color: #ffffff;
}
.footer__link__terms:hover {
    text-decoration: underline;
}
.footer__link__legals:hover {
    text-decoration: underline;
}